.containerHeader {
   width: 100%;
   height: 40rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   position: relative;
   top: 5rem;

}

/* .content {
    display: flex;
    padding: 10% 0 0 15%;
    color: #dddddd;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} */

.textContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1%;
    font-family: "Lato", sans-serif;
}

.nameHeader {
    margin-top: 1.5rem;
}
 .meHeader {
    width: 80%;   
    font-weight: 500;
    color: #dddddd;
    margin: 0;
    text-align: center;
}
/*
.containerButtonsHeader {
    width: 50%;
    height: 0rem;
    display: flex;
}


.buttonHeader {
    border-radius: 0.2rem;
    width: 30%;
    color: #dddddd;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 2rem;
    background-color: transparent;
    margin: 0.5rem;
    outline: none;
    border-color: transparent;
}
.buttonHeader:hover {
    background-color: #dddddd;
    color: black;
}

*/
.dedicHeader {
    font-size: 17px;
    color: #aaa;
    font-weight: 400;
    margin-bottom: -2%;
    color: #c32865;
}

/*SideBarMenu*/
.linkSideBar {
    font-size:3vh;
    background-color: #c32865;
    left:0;
    margin-left: 0;
    padding-left: 0;
    width:80%
}


@import url('https://fonts.googleapis.com/css2?family=Goblin+One&family=Lato:wght@300&display=swap');

.nameHeader {
    font-size: 2.5rem;
    color: #dddddd;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    
}
 


.containerImg {
    display: block;
    position: relative;
    width: 20%;
    height: 17rem;
    padding-bottom: calc(30% - 160px);
    background-color: #fff;
    border-radius: 200px;
    overflow: hidden;  
    border-color: transparent;
}

.img {
    border-radius: 50%;
    border-color: transparent;
    
}

.buttonsHeader {
    display: flex;
    width: 15rem;
    justify-content: center;
    margin-top: 2rem;
}

.buttonCv {
    background-color: #8a0a3d;
    color: #dddddd;
    font-family: "Lato", sans-serif;
    border: none;
    padding: 0.5rem;
    border-radius: 0.2rem;
    width: 8rem;

}

.iconLan {
    font-size:2rem;
    color:white;
     margin-left:1rem;
}

@media (max-width: 648px) {
    .containerHeader {
        height: fit-content;
    }
	.nameHeader {
        font-size: 4vh;
    }
    .containerImg {
        width: 60%;
        background-color: transparent;
        height: 250px;
        border-radius: 200px;
        overflow: hidden;  
        border-color: transparent;
    }
    .textContent {
        font-size: 3vh;
        margin: 0;
        margin-top: 1rem;
        width: 100%;
       
    }
    .buttonCv {
        width: 6rem;
        
        font-size: 3vh;
    }
    .buttonLan {
        position: relative;
        /* left: 0rem; */
    }
    .iconLan {
        font-size: 50vh;
    }
  }